:root {
  --gold: 196, 160, 74;
  --gl:   232, 214, 166;

  --gm:   147, 117, 63;
  --gw:   182, 149, 90;
  --gmu:  136, 109, 67;
  --glt:  218, 198, 154;

  --chr:  36, 34, 32;
  --chrd: 18, 15, 13;
  --ink:  25, 22, 19;
  --ctx:  10, 8, 7;

  --wlt:  63, 42, 24;
  --oak:  51, 35, 21;

  --cr:   234, 227, 211;
  --mut:  149, 140, 124;

  --ash:  103, 94, 82;
  --fog:  74, 72, 69;

  --lntn: 214, 145, 54;

  --blk:  0, 0, 0;
  --wht:  255, 255, 255;

  --dng:  204, 55, 38;
  --dngh: 228, 95, 72;
  --dnga: 204, 75, 55;
  --dngb: 180, 55, 38;

  --ok:   115, 175, 115;

  --ff:   'Cormorant Garamond', Georgia, serif;
  --ff2:  'Cormorant', Georgia, serif;
  --ffc:  'Cinzel', Georgia, serif;

  --background:          24 8% 12%;
  --foreground:          40 34% 90%;

  --card:                28 10% 9%;
  --card-foreground:     40 34% 90%;

  --border:              39 39% 45%;

  --muted:               34 10% 45%;
  --muted-foreground:    34 10% 60%;

  --primary:             41 45% 53%;
  --primary-foreground:  24 8% 12%;

  --radius:              0.5rem;

  --ic-poly: polygon(
    50% 0%,  58% 8%,  66% 3%,  74% 9%,
    82% 5%,  90% 11%,
    100% 18%, 100% 92%, 96% 100%,
    4% 100%,  0% 92%,
    0% 18%,  10% 11%,
    18% 5%,  26% 9%,  34% 3%,  42% 8%
  );
}
