.nav-btn {
  width: 2.5rem;
  height: 2.5rem;
  border: 2px solid var(--ga5);
  background: var(--blk4);
  backdrop-filter: blur(4px);
  transition: all 0.2s ease;
  outline: none;
}


.nav-btn:not(.disabled):hover {
  border-color: var(--ga9);
  background: var(--ga1);
}

.nav-ico {
  width: 1.5em;
  height: 1.5em;
  color: var(--gold);
}