.dmbdg {
  width: 100%;
  height: 100%;
  transform: rotate(45deg);
  display: flex;
  align-items: center;
  justify-content: center;
}

.dmbdg-num {
  transform: rotate(-45deg);
  font-weight: 700;
  font-size: 2cqw;
  letter-spacing: 0.03em;
  color: rgb(var(--gl));
  line-height: 1;
  text-shadow: 0 1px 6px rgba(var(--blk), .6);
}
