.prnt-btn {
  position: fixed;
  top: 1.5vh;
  right: 1.5vw;
  padding: .8cqw;
  border: .2cqw solid var(--ga5);
  background: var(--blk4);
  backdrop-filter: blur(.4cqw);
  z-index: 100;
}

.prnt-ico {
  width: 2.4cqw;
  height: 2.4cqw;
  color: var(--gold);
}

.pg-tot {
  position: fixed;
  bottom: 2vh;
  right: 2vw;
  font-weight: 300;
  font-size: 11px;
  color: var(--ga5);
  z-index: 100;
}
