.qty-inp {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  min-width: 4cqw;
  height: 5.5cqw;
  font-size: 3.2cqw;
  font-weight: 600;
  font-family: var(--ff);
  color: rgb(var(--gl));
  user-select: none;
  text-align: center;
}
